from pathlib import Path
import shutil
way = Path(Path.home() / "project")
txtPack = way / "txtFiles"
txtPack.mkdir(exist_ok=True)
txtNum = 0
jpgPack = way / "jpgFiles"
jpgPack.mkdir(exist_ok=True)
jpgNum = 0
pdfPack = way / "pdfFiles"
pdfPack.mkdir(exist_ok=True)
pdfNum = 0
bmpPack = way / "bmpFiles"
bmpPack.mkdir(exist_ok=True)
bmpNum = 0
otherFilePack = way / "otherFiles"
otherFilePack.mkdir(exist_ok=True)
otherFile = 0
biggestFile = 0
fileSize = 0
biggestFileName = ""
allFiles = list(way.glob("*"))
for i in allFiles:
    if i.is_file():
        nameSuffix = i.suffix.lower()
        if nameSuffix == ".txt":
            txtNum += 1
            shutil.copy(i, txtPack / i.name)
        elif nameSuffix == ".jpg":
            jpgNum += 1
            shutil.copy(i, jpgPack / i.name)
        elif nameSuffix == ".pdf":
            pdfNum += 1
            shutil.copy(i, pdfPack / i.name)
        elif nameSuffix == ".bmp":
            bmpNum += 1
            shutil.copy(i, bmpPack / i.name)
        else:
            otherFile += 1
            shutil.copy(i, otherFilePack / i.name)
        firstLarge = i.stat().st_size
        fileSize += firstLarge
        if firstLarge > biggestFile:
            biggestFile = firstLarge
            biggestFileName = i.name
print(".txt - " + str(txtNum))
print(".jpg - " + str(jpgNum))
print(".bmp - " + str(bmpNum))
print(".pdf - " + str(pdfNum))
print("other - " + str(otherFile))
print("The biggest number is\n" + biggestFileName+": " + str(biggestFile))
print("All cache:", round(fileSize / 1024 / 1024, 2), "MB")
